{% extends 'base.html' %}

{% block title %}
Talesworld: регистрация
{% endblock %}


{% block body %}
<h1>Регистрация</h1>

<p>Логин не меньше 8 символов, но не больше 64.</p>
<p>Пароль не меньше 8 символов, но не больше 64.</p>
<p>Логин и пароль не должны содержать пробелов.</p>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
    <table>
        <tr>
            <td>Логин</td>
            <td><input type="text" name="login"></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" name="password"></td>        </tr>
        <tr>
            <td>Повторите пароль</td>
            <td><input type="password" name="password2"></td>        </tr>
        <tr>
        <tr>
        <td><a href="{{ url_for('login_page') }}">Вход>></a></td>
            <td><input type="submit" value="Регистрация"></td>
        </tr>
    </table>
</form>
{% endblock %}